tags
*.o
*.sub
*.guess
ltmain.sh
*.la
*.a
.deps
.dirstamp
.libs
*.lo
*.pb.h
*.pb.cc
*.rl.cc
*.rl.cpp
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
configure
config.h.in~
install-sh
libtool
Makefile.in
missing
stamp-h1
*.pc
depcomp
*.xcodeproj

#doxygen
html
latex

#.idea
.vscode
cmake-build-debug
build
CMakeFiles
lib
doc/Others.md
bin/*
!bin/conf

